*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}


html{

	--White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
}

body{
	background-color: var(--Eggshell);
	color: var(--Wenge-Brown);
	min-height: 100vh;
	line-height: 1.4;
	display: grid;
    font-size: 16px;
    font-family: 'outfit','sans-serif';
    size: 1440px;
}

img{
	max-width: : 100%;
	display: block;
}

h1,h2{
	font-family: 'Young Serif','Serif';
	font-weight: 400;
}

h1{
	color: var(--Dark-Charcoal);
	font-size: 2.8rem;

}

h2{
	color: var(--Nutmeg);
	margin-bottom: 1rem;	
}

.Recipe_Step
{  
 margin: 1rem 0;

}

.Nutrition-Step
{
   margin-top:1rem;
}

ul{
	padding-left:1.25rem;
}

ul li{
	margin-bottom: .5rem;
}

ul li span{
      color: var(--Wenge-Brown);
      margin-left: 1rem;
      font-weight: 700;
}

.container{
	max-width: 800px;
	background-color: var(--White);
	margin: 2rem;
	border-radius: 1rem;

}

.container .Recipe-Image{
   padding: 2rem;
   border-radius: 1rem;
   overflow: hidden;
}

